@model ecommerceG3.Models.adminlog

<link rel="stylesheet" href="~/Styles/Style.css" />
<body>

    <h1>ADMIN HOME</h1>
    <div>
        <a href="~/Admin/Viewusers">
            <button id="user">User Data</button>
        </a>
        <a href="~/Admin/sales">
            <button id="sales">Sales Data</button>
        </a>

    </div>
    <div>
        <a href="~/Admin/AddProduct">
            <button id="product">Add Product</button>
        </a>
        <a href="~/Admin/inventory">
            <button id="Inven">Inventory</button>
        </a>

    </div>

</body>