
@{
    ViewBag.Title = "proceed";
}
<link rel="stylesheet" href="~/Styles/Style.css" />
<br />
<body>
    <div>
        <h2>
            <label for="into" style="background-color: grey ; padding: 5px; border: 2px black;">Payment opted for Cash on Delivery </label>
        </h2><br />
    </div>
    <div>
        <h4>
            Thank-you for shopping with us!
        </h4><br />
    </div>
    <div>
        <a href="~/Home/Index">
            <button Id="BCH">Return to Home</button>
        </a>
    </div>
</body>
