
@{
    ViewBag.Title = "Login";
}
<br />
<br />
<link rel="stylesheet" href="~/Styles/Style.css"/>
<body><div>
    </div>
    <div></div>
    <div>
        <p>
            Welcome! Have fun shopping with us!
        </p>
    </div>
    <div>
        <h1>
            LOGIN
        </h1>
    </div>
    <div>
        <a href="~/Admin/log">
            <button class="Admin" id="AL"> ADMIN </button>
        </a>
        <a href="~/user/login">
            <button class="User" id="UL"> USER </button>
        </a>
    </div>
</body>

