
@{
    ViewBag.Title = "logout";
}
<style>
    body{
        text-align:center;
    }
</style>
<h2> User Logged Out</h2>
<br />
<br />
<br />
<a href="~/Home/Index">
   <button>
       Back To Home
   </button>
</a>

