
@{
    ViewBag.Title = "Address";
}
<br />

<h2>Enter Your Shipping Address</h2>
<br />
<br />



<input type="text" style="width:500px ; height:80px; border:2px solid" name="" id="">
<br />
<br />
<a href="~/payment/index">
    <button>Save and Proceed</button>
</a>

